/* Estilos personalizados */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

#searchInput {
    font-size: 1.2rem;
}

.list-group {
    margin-top: 10px;
}

.list-group-item {
    cursor: pointer;
}
